{% extends "base.html" %}
{% block container %}
{% endblock container %}
{% block content %}
    <div class="columns" id="app">
    <div class="column is-two-thirds">
      <section class="section">
        <h1 class="title">Edit Menu</h1>
        <hr>

        <!-- form starts here -->
        <section class="form">
            <div class="mb-3">
                <label class="col-sm-2 col-form-label">Day</label>
                <div class="col-sm-10">
                  <label class="form-control">
                      {% verbatim %}
                        {{ form.day }}
                      {% endverbatim %}
                  </label>
                </div>
            </div>
            <div class="mb-3">
                <label class="col-sm-2 col-form-label">Day</label>
                <div class="col-sm-10">
                    <select class="form-control" v-model="form.location">
                    <option disabled value="">Nothing selected</option>
                    <option v-for="country in options.countries" v-bind:value="country.id">
                        {% verbatim %}
                        {{ country.name }}
                        {% endverbatim %}
                    </option>
                  </select>
                </div>
            </div>
            <button @click="addDish" class="bg-primary">Add new Option</button>
            <div class="card"  v-for="(dish, counter) in form.items" v-bind:key="counter">
              <div class="card-header">
                <ul class="nav nav-pills card-header-pills">
                  <li class="nav-item">
                    <a class="nav-link link-danger" href="#" @click="deleteDish(counter)">Delete Option</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link link-primary" href="#" @click="addItem(counter)">Add Item</a>
                  </li>
                </ul>
              </div>
              <div class="card-body">
                <h5 class="card-title">
                    Option {% verbatim %}{{ counter + 1 }} <span v-if="dish.action === 'delete'">to {{ dish.action }}</span>{% endverbatim %}
                </h5>
                <div class="row" v-for="(item, item_num) in dish.dishes" v-bind:key="item_num">
                    <div class="col">
                        <label for="duration">Dish:</label>
                        <input type="text" v-model.lazy="item.name" required>
                    </div>
                    <div class="col">
                        <label for="duration">Description:</label>
                        <input type="text" v-model.lazy="item.description">
                    </div>
                    <div class="col" v-if="dish.dishes.length > 1">
                        <a class="link-danger" href="#" @click="deleteItem(counter, item_num)">Remove</a>
                    </div>
                    <br>
                    <br>
                </div>
              </div>
            </div>
            <button @click="sendRequest">Send Request</button>
        </section>
      </section>
    </div>
  </div>
{% endblock content %}
{% block modal %}
    <div class="toast-container position-absolute top-0 end-0 p-3" style="z-index: 11">
        <div id="liveToastSuccess" class="toast align-items-center text-white bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="d-flex">
            <div class="toast-body">
              Your Lunch was added!
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
        </div>
    </div>
    <div class="toast-container position-absolute top-0 end-0 p-3" style="z-index: 11">
        <div id="liveToastDanger" class="toast align-items-center text-white bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="d-flex">
            <div class="toast-body">
              There is an error
                <span id="error_toast">

                </span>
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
        </div>
    </div>
{% endblock modal %}
{% block inline_javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>
    <script>
        const menu_id = '{{ menu_id|default_if_none:'' }}'
    </script>
    <script>
      new Vue({
          el: '#app',
          data: {
            form : {
              id: menu_id,
              day: '{{ day }}',
              location: '',
              items: [
              ],
            },
            options: {
                countries: [
                ]
            }
          },
          methods : {
            addDish(){
              this.form.items.push({
                  dishes: [
                      {
                          name:'',
                          description: '',
                      }
                  ],
                  action: "add"
              })
            },
            addItem(counter){
                this.form.items[counter].dishes.push({
                    name: '',
                    description: '',
                })
            },
            deleteDish(counter){
                const item = this.form.items[counter]
                if(!item.hasOwnProperty("id")){
                    this.form.items.splice(counter, 1)
                }else{
                    item.action = 'delete'
                }
            },
            deleteItem(counter, num){
                this.form.items[counter].dishes.splice(num,1);
            },
            sendRequest(){
                axios.put(
                    "/api/v1/menu/" + menu_id + "/",
                    this.form, {
                    withCredentials: true,
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    }
                }).then(response=>{
                    location.reload()
                }).catch(error=>{
                    const toastLiveDanger = document.getElementById('liveToastDanger')
                    const error_span = document.getElementById('error_toast')
                    error_span.innerHTML = JSON.stringify(error.response.data)
                    new bootstrap.Toast(toastLiveDanger).show()
                    console.log(error);
                })
            },
            setData(menu, items){
                this.form.id = menu.id
                this.form.day = menu.day
                this.form.location = menu.location
                this.form.items = items
            }
          },
          mounted () {
            axios
              .get('/api/v1/country/')
              .then(response => (this.options.countries = response.data))
            if(this.form.id){
                axios.all([
                    axios.get('/api/v1/menu/'+this.form.id+'/'),
                    axios.get('/api/v1/menu_item/?menu='+this.form.id)
                ]).then(axios.spread((...responses) => {
                    const data = responses[1].data.map((item)=>{
                        const dishes = item.dishes.map((dish)=>{
                            return {
                                name: dish.name,
                                description: dish.description,
                                action: ''
                            }
                        })
                        return {...item, dishes}
                    })
                    this.setData(responses[0].data, data)
                })).catch(errors => {
                  console.error(errors)
                })
            }
          }
      })
    </script>
{% endblock inline_javascript %}
